BROWSE.VC-bad4b765/Browse.VC.db-shm
BROWSE.VC-bad4b765/Browse.VC.db-wal
BROWSE.VC-bad4b765/Browse.VC.opendb
SimpleTest/SimpleTest/x64/
SimpleTest/x64/

BROWSE.VC-bad4b765/
SimpleTest/.vs/SimpleTest/v17/
